Repository matthewgallo/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
	"**.{js,jsx}": [
		"pretty-quick --staged",
		"eslint --fix"
	],
	"**.{scss,css}": [
		"stylelint --fix"
	]
}

Test.
  src/components/IBPDetails/IBPDetails.js
Due: pretty-quick --staged, eslint --fix

Testing linting setup.
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc
  huskyrc.json
  package-lock.json
  package.json
  src/components/IBPDetails/IBPDetails.js
Due: pretty-quick --staged, eslint --fix

Prop type fixes.
  .eslintrc.json
  index-build.js
  index.js
  package-lock.json
  package.json
  src/App.js
  src/ProjectYama.js
  src/components/About/About.js
  src/components/CovidStat/CovidStat.js
  src/components/DetailPage/DetailHeader.js
  src/components/Footer.js
  src/components/FooterLogoLink/FooterLogoLink.js
  src/components/GradientLink/GradientLink.js
  src/components/Header.js
  src/components/Home.js
  src/components/IBPDetails/ToggleIcon.js
  src/components/Intro.js
  src/components/JeopardyDetails/JeopardyDetails.js
  src/components/Modal.js
  src/components/Nav/Nav.js
  src/components/NavLink.js
  src/components/NotFound.js
  src/components/PageContainer/PageContainer.js
  src/components/Precursor/Precursor.js
  src/components/ScrollToTop.js
  src/components/SectionMaxWidth/SectionMaxWidth.js
  src/components/Sparkle/Sparkles.js
  src/components/Sparkle/useRandomInterval.js
  src/components/Tag/Tag.js
  src/components/Text/Text.js
  src/components/Work.js
  src/components/WorkItem.js
  src/components/modal.scss
  src/index.js
Due: pretty-quick --staged, eslint --fix, stylelint --fix

Eslint indentation fix.
  .eslintrc.json
  src/components/DetailPage/DetailHeader.js
Due: pretty-quick --staged, eslint --fix

Update readme.
  README.md
Due: none

Add vercel dir to gitignore.
  .gitignore
Due: none

Type scale fixes.
  src/assets/sass/_typeScaleSettings.scss
  src/components/App/App.js
  src/components/Intro/Intro.js
Due: pretty-quick --staged, eslint --fix, stylelint --fix

Remove unused package.
  package.json
Due: none

Add focus states, fix sass typo, and add line to intro.
  src/components/CovidStat/CovidStat.js
  src/components/IBPDetails/IBPDetails.js
  src/components/Intro/Intro.js
  src/components/Intro/_intro.scss
  src/components/JeopardyDetails/JeopardyDetails.js
  src/components/Nav/_nav.scss
  src/components/ThemeToggle/_themeToggle.scss
Due: pretty-quick --staged, eslint --fix, stylelint --fix

Add blur on click of theme button.
  src/components/ThemeToggle/ThemeToggle.js
Due: pretty-quick --staged, eslint --fix

Fix width issue on mobile.
  src/components/DetailPage/_detailHeader.scss
Due: stylelint --fix

Delete nodes dir.
  Nodes/Overview Copy 19@2x.png
Due: none

Fix flex image.
  src/components/ScreenshotItem/ScreenshotItem.js
Due: pretty-quick --staged, eslint --fix

Fix scroll component, disable coming soon work items.
  src/components/Animation/FadeIn.js
  src/components/App/App.js
  src/components/CovidStat/CovidStat.js
  src/components/DetailPage/DetailHeader.js
  src/components/Header/Header.js
  src/components/Header/_header.scss
  src/components/IBPDetails/IBPDetails.js
  src/components/JeopardyDetails/JeopardyDetails.js
  src/components/ScreenshotItem/ScreenshotItem.js
  src/components/ScrollProgress/ScrollProgress.js
  src/components/Tag/_tag.scss
  src/components/Work/Work.js
  src/components/WorkItem/WorkItem.js
  src/hooks/useScroll.js
Due: pretty-quick --staged, eslint --fix, stylelint --fix

Add yama images back for now.
  .gitignore
  src/assets/images/yama/devices.jpg
  src/assets/images/yama/yama--Checkpointibm.jpg
  src/assets/images/yama/yama--GHEibm.jpg
  src/assets/images/yama/yama--box.jpg
  src/assets/images/yama/yama--collaborators.gif
  src/assets/images/yama/yama--gh-api.png
  src/assets/images/yama/yama--portfolio-lib.png
  src/assets/images/yama/yama--profile-empty.jpg
  src/assets/images/yama/yama--profile-overlay.jpg
  src/assets/images/yama/yama--profile.jpg
  src/assets/images/yama/yama--slack.jpg
  src/assets/images/yama/yama--upload.jpg
  src/assets/images/yama/yama--upload2.jpg
  src/assets/images/yama/yama--userflow.png
  src/assets/images/yama/yama--userflow2.jpg
  src/assets/images/yama/yama--wireframes.png
  src/assets/images/yama/yama--work-feed.jpg
  src/assets/images/yama/yama_detail.svg
Due: none

Fix media query typo.
  src/components/Work/Work.styles.js
  src/components/WorkItem/WorkItem.styles.js
Due: pretty-quick --staged, eslint --fix

Small fixes to intro, a11y fix.
  src/components/Intro/Intro.js
  src/components/Nav/Nav.js
  src/components/ScrollProgress/ScrollProgress.js
Due: pretty-quick --staged, eslint --fix

Change theme toggle.
  package-lock.json
  package.json
  src/components/Intro/Intro.js
  src/components/Intro/Intro.styles.js
  src/components/Nav/Nav.js
  src/components/ThemeToggle/ThemeToggle.js
  src/components/ThemeToggle/ThemeToggle.styles.js
Due: pretty-quick --staged, eslint --fix

Add title text to svg.
  src/components/ThemeToggle/ThemeToggle.js
Due: pretty-quick --staged, eslint --fix

Add highlight to lightbulb svg.
  src/components/ThemeToggle/ThemeToggle.js
Due: pretty-quick --staged, eslint --fix

Add new page transitions and fix logo svg rendering.
  src/assets/images/blockchain/home_channel_new.png
  src/assets/images/blockchain/ibp_screenshots.mp4
  src/assets/images/covidstat/home_covid_header.png
  src/assets/images/jeopardy/home_jeopardy_app.png
  src/components/Animation/FadeIn.js
  src/components/App/App.js
  src/components/App/AppWrapper.js
  src/components/CovidStat/CovidStat.js
  src/components/DetailPage/DetailCalloutGroup.js
  src/components/DetailPage/DetailHeader.js
  src/components/DetailPage/DetailHeader.styles.js
  src/components/IBPDetails/IBPDetails.js
  src/components/Intro/Intro.js
  src/components/Intro/Intro.styles.js
  src/components/Intro/Logo.js
  src/components/JeopardyDetails/JeopardyDetails.js
  src/components/Work/Work.js
  src/components/Work/Work.styles.js
  src/components/WorkItem/WorkItem.js
  src/components/WorkItem/WorkItem.styles.js
  src/contexts/imageContext.js
  src/hooks/useWindowSize.js
Due: pretty-quick --staged, eslint --fix

About update.
  src/components/About/About.js
  src/components/WorkItem/WorkItem.js
Due: pretty-quick --staged, eslint --fix

spring cleaning, updates from a whileeee back
  .eslintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/About/About.js
  src/components/Footer/Footer.js
  src/components/GradientLink/GradientLink.js
  src/components/GradientLink/GradientLink.styles.js
  src/components/IBPDetails/IBPDetails.js
  src/components/Intro/Logo.js
  src/components/Nav/Nav.js
  src/components/Nav/Nav.styles.js
  src/components/Precursor/Precursor.js
  src/components/Precursor/Precursor.styles.js
  src/components/Tag/Tag.js
  src/components/Tag/Tag.styles.js
  src/components/ThemeToggle/ThemeToggle.js
  src/components/WorkItem/WorkItem.js
  src/components/WorkItem/WorkItem.styles.js
  yarn.lock
Due: pretty-quick --staged, eslint --fix

fix node version
  package.json
Due: none

feat: '25 updates
  .eslintrc.json
  now.json
  package.json
  src/assets/images/wordle.png
  src/components/AboutMe/AboutMe.js
  src/components/AboutMe/AboutMe.styles.js
  src/components/Footer/Footer.js
  src/components/Footer/Footer.styles.js
  src/components/Header/Header.js
  src/components/Header/Header.styles.js
  src/components/Home/Home.js
  src/components/Intro/Intro.js
  src/components/Intro/Intro.styles.js
  src/components/OtherProjects/OtherProjects.js
  src/components/OtherProjects/OtherProjects.styles.js
  src/components/ProjectTile/ProjectTile.js
  src/components/ProjectTile/ProjectTile.styles.js
  src/components/Text/Bold.js
  src/components/Text/Text.styles.js
  yarn.lock
Due: pretty-quick --staged, eslint --fix

chore: bump node version
  package.json
Due: none

chore: linting
  src/components/AboutMe/AboutMe.js
  src/components/AboutMe/AboutMe.styles.js
  src/components/Header/Header.js
  src/components/Intro/Intro.js
  src/components/OtherProjects/OtherProjects.js
  src/components/OtherProjects/OtherProjects.styles.js
  src/components/Text/Bold.js
Due: pretty-quick --staged, eslint --fix

chore: content update
  public/index.html
  src/components/AboutMe/AboutMe.js
  src/components/Home/Home.js
Due: pretty-quick --staged, eslint --fix

feat: favicon swap on theme change
  public/dark__favicon.ico
  src/components/App/App.js
  sw-precache-config.js
Due: pretty-quick --staged, eslint --fix
